[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
	branch = master
[submodule "public"]
	path = public
	url = https://github.com/bdai6/bdai6.github.io.git
	branch = master
[submodule "hugo-easy-gallery"]
	path = hugo-easy-gallery
	url = https://github.com/bdai6/hugo-easy-gallery.git
	branch = master
